---
import WodniackLayout from "../layouts/WodniackLayout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Work from "../components/Work.astro";
import MyWay from "../components/MyWay.astro";
import Cta from "../components/Cta.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SiteChrome from "../components/SiteChrome.astro";
---

<WodniackLayout>
  <div class="site-wrapper js-site-wrapper astro-j7pv25f6" style="opacity: 0;">
    <SiteHeader />
    <Hero />
    <About />
    <Work />
    <MyWay />
    <Cta />
    <SiteFooter />
  </div><!-- .site-wrapper -->
  <SiteChrome />
</WodniackLayout>
